@import '../../SassVariables.scss';

.register_form {
  border: 2px solid $secondary;
  border-radius: 5px;
  box-shadow: 4px 4px 6px $secondary;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  row-gap: 0.5rem;
  width: 100%;

  .button_wrapper {
    margin-top: 0.25rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .register_title {
    text-align: center;
  }
}
