@import '../../SassVariables.scss';

.navbar_container {
  align-items: center;
  background-color: $secondary;
  color: $primary;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  width: 100%;

  .brand {
    color: $primary;
  }

  .close {
    transform: translateX(100%);
    transform-origin: left;
    transition: transform 500ms ease-out;
  }

  .link_list {
    background-color: $secondary;
    position: absolute;
    right: 0;
    top: 35px;
  }

  .open {
    transform: translateX(0);
    transform-origin: left;
    transition: transform 500ms ease-in;
  }
}

@media (min-width: 540px) {
  .navbar_container {
    .button_wrapper {
      display: none;
    }

    .link_list {
      column-gap: 2rem;
      display: flex;
      position: initial;
      transform: translateX(0);
    }
  }
}
