@import '../../../SassVariables.scss';

.input_control {
  display: flex;
  flex-direction: column;
  width: 100%;

  .border_error {
    border: 1px solid $danger;
  }

  input {
    border: 1px solid $secondary;
    border-radius: 5px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .text_error {
    color: $danger;
  }
}
