@import './SassVariables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: $oswald;
}

a {
  align-items: center;
  column-gap: 0.25rem;
  display: flex;
  text-decoration: none;
}

body {
  background-color: $primary;
  color: $secondary;
  font-weight: $regular;
  margin: 0;
  padding: 0;
}

button {
  align-items: center;
  border-radius: 5px;
  display: flex;
  padding: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
