@import '../../../SassVariables.scss';

.select_control {
  display: flex;
  flex-direction: column;
  width: 100%;

  .border_error {
    border: 1px solid $danger;
  }

  select {
    border: 1px solid $secondary;
    border-radius: 5px;
  }

  .text_error {
    color: $danger;
  }
}
