@import '../../../SassVariables.scss';

.full_width {
  justify-content: center;
  width: 100%;
}

.logout_button {
  background-color: $secondary;
  border: none;
  color: $primary;
  padding: 0;
}

.nav_button {
  background-color: $secondary;
  border: none;
  color: $primary;
}

.success_button {
  background-color: $success;
  border: 1px solid $secondary;
}
